In [1]:
# import the libraries needed for doing the KMeans calculations
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np
import csv
import codecs
from sklearn import datasets
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from yellowbrick.cluster import SilhouetteVisualizer

In [2]:
df_dataTST = pd.read_csv('C:\\Users\\Filipa FB\\Documents\\DystoniaAnalysis\\JupyterNotebooks\\TSTW9.csv')
#df_dataTST = df_dataTST.loc[df_dataTST.w9>=3]
df_dataTST

    Mouse         w9    Group
0   43176  12.032086   SNLDYT
1   43509   0.943891   SNLDYT
2   44215   0.377398   SNLDYT
3   46030  10.197097   SNLDYT
4   46031   6.383849   SNLDYT
5   42312   0.000000   SNLDYT
6   42313   1.518987   SNLDYT
7   42489  12.806591   SNLDYT
8   42629   0.916108   SNLDYT
9   42308   0.719568   SNLDYT
10  47517   1.035673   SNLDYT
11  45007   0.000000  ShamDYT
12  45136   0.560224  ShamDYT
13  45339   0.434940  ShamDYT
14  46251   5.204363  ShamDYT
15  46439  -1.000000  ShamDYT
16  47276   0.526008  ShamDYT
17  47506   0.000000  ShamDYT
18  46761   1.069360  ShamDYT
19  43180   0.000000    SNLWT
20  45196   1.450638    SNLWT
21  45137   0.965665    SNLWT
22  42625   0.349142    SNLWT
23  46432   1.875977    SNLWT
24  46438   0.000000    SNLWT
25  42314   5.194805    SNLWT
26  42315   0.354261    SNLWT
27  42353   8.429119    SNLWT
28  42355   0.359066    SNLWT
29  42356   3.617363    SNLWT
30  46252   0.349142    SNLWT
31  47006  14.050568    SNLWT
32  47008   1.611459    SNLWT
33  47508   2.215385    SNLWT
34    122   0.000000   ShamWT
35  47235   0.000000   ShamWT
36  47511   0.000000   ShamWT
37  47512   0.653476   ShamWT
38  47514   0.000000   ShamWT

In [3]:
df_dataTST=df_dataTST[df_dataTST.w9>=0]

In [54]:
inertias = []
model = KMeans(n_clusters=3)
model.fit(np.log(df_dataTST.w9.values+1).reshape(-1,1))
inertias.append(model.inertia_)

c:\Users\Filipa FB\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1334: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

In [55]:
df_dataTST['labels']=model.labels_
df_dataTST['group']=model.labels_

<ipython-input-55-8b3c4727c2b9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataTST['labels']=model.labels_
<ipython-input-55-8b3c4727c2b9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataTST['group']=model.labels_

In [58]:
df_dataTST['log_w9'] = np.log(df_dataTST.w9.values+1)

<ipython-input-58-3cf4c521570a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataTST['log_w9'] = np.log(df_dataTST.w9.values+1)

In [59]:
df_dataTST

    Mouse         w9    Group  labels  group    log_w9
0   43176  12.032086   SNLDYT       1      1  2.567414
1   43509   0.943891   SNLDYT       2      2  0.664692
2   44215   0.377398   SNLDYT       0      0  0.320196
3   46030  10.197097   SNLDYT       1      1  2.415655
4   46031   6.383849   SNLDYT       1      1  1.999295
5   42312   0.000000   SNLDYT       0      0  0.000000
6   42313   1.518987   SNLDYT       2      2  0.923857
7   42489  12.806591   SNLDYT       1      1  2.625146
8   42629   0.916108   SNLDYT       2      2  0.650296
9   42308   0.719568   SNLDYT       2      2  0.542073
10  47517   1.035673   SNLDYT       2      2  0.710827
11  45007   0.000000  ShamDYT       0      0  0.000000
12  45136   0.560224  ShamDYT       0      0  0.444829
13  45339   0.434940  ShamDYT       0      0  0.361123
14  46251   5.204363  ShamDYT       1      1  1.825253
16  47276   0.526008  ShamDYT       0      0  0.422655
17  47506   0.000000  ShamDYT       0      0  0.000000
18  46761   1.069360  ShamDYT       2      2  0.727239
19  43180   0.000000    SNLWT       0      0  0.000000
20  45196   1.450638    SNLWT       2      2  0.896348
21  45137   0.965665    SNLWT       2      2  0.675831
22  42625   0.349142    SNLWT       0      0  0.299469
23  46432   1.875977    SNLWT       2      2  1.056392
24  46438   0.000000    SNLWT       0      0  0.000000
25  42314   5.194805    SNLWT       1      1  1.823711
26  42315   0.354261    SNLWT       0      0  0.303256
27  42353   8.429119    SNLWT       1      1  2.243803
28  42355   0.359066    SNLWT       0      0  0.306798
29  42356   3.617363    SNLWT       2      2  1.529824
30  46252   0.349142    SNLWT       0      0  0.299469
31  47006  14.050568    SNLWT       1      1  2.711416
32  47008   1.611459    SNLWT       2      2  0.959909
33  47508   2.215385    SNLWT       2      2  1.167947
34    122   0.000000   ShamWT       0      0  0.000000
35  47235   0.000000   ShamWT       0      0  0.000000
36  47511   0.000000   ShamWT       0      0  0.000000
37  47512   0.653476   ShamWT       0      0  0.502880
38  47514   0.000000   ShamWT       0      0  0.000000

In [63]:
df_dataTST.loc[df_dataTST['group']==0,'labels']='Low'
df_dataTST.loc[df_dataTST['group']==1,'labels']='High'
df_dataTST.loc[df_dataTST['group']==2,'labels']='Medium'

c:\Users\Filipa FB\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
c:\Users\Filipa FB\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
c:\Users\Filipa FB\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [61]:
df_dataTST.loc[df_dataTST.labels==0]

Empty DataFrame
Columns: [Mouse, w9, Group, labels, group, log_w9]
Index: []

In [64]:
df_dataTST

    Mouse         w9    Group  labels  group    log_w9
0   43176  12.032086   SNLDYT    High      1  2.567414
1   43509   0.943891   SNLDYT  Medium      2  0.664692
2   44215   0.377398   SNLDYT     Low      0  0.320196
3   46030  10.197097   SNLDYT    High      1  2.415655
4   46031   6.383849   SNLDYT    High      1  1.999295
5   42312   0.000000   SNLDYT     Low      0  0.000000
6   42313   1.518987   SNLDYT  Medium      2  0.923857
7   42489  12.806591   SNLDYT    High      1  2.625146
8   42629   0.916108   SNLDYT  Medium      2  0.650296
9   42308   0.719568   SNLDYT  Medium      2  0.542073
10  47517   1.035673   SNLDYT  Medium      2  0.710827
11  45007   0.000000  ShamDYT     Low      0  0.000000
12  45136   0.560224  ShamDYT     Low      0  0.444829
13  45339   0.434940  ShamDYT     Low      0  0.361123
14  46251   5.204363  ShamDYT    High      1  1.825253
16  47276   0.526008  ShamDYT     Low      0  0.422655
17  47506   0.000000  ShamDYT     Low      0  0.000000
18  46761   1.069360  ShamDYT  Medium      2  0.727239
19  43180   0.000000    SNLWT     Low      0  0.000000
20  45196   1.450638    SNLWT  Medium      2  0.896348
21  45137   0.965665    SNLWT  Medium      2  0.675831
22  42625   0.349142    SNLWT     Low      0  0.299469
23  46432   1.875977    SNLWT  Medium      2  1.056392
24  46438   0.000000    SNLWT     Low      0  0.000000
25  42314   5.194805    SNLWT    High      1  1.823711
26  42315   0.354261    SNLWT     Low      0  0.303256
27  42353   8.429119    SNLWT    High      1  2.243803
28  42355   0.359066    SNLWT     Low      0  0.306798
29  42356   3.617363    SNLWT  Medium      2  1.529824
30  46252   0.349142    SNLWT     Low      0  0.299469
31  47006  14.050568    SNLWT    High      1  2.711416
32  47008   1.611459    SNLWT  Medium      2  0.959909
33  47508   2.215385    SNLWT  Medium      2  1.167947
34    122   0.000000   ShamWT     Low      0  0.000000
35  47235   0.000000   ShamWT     Low      0  0.000000
36  47511   0.000000   ShamWT     Low      0  0.000000
37  47512   0.653476   ShamWT     Low      0  0.502880
38  47514   0.000000   ShamWT     Low      0  0.000000

In [22]:
np.array(df_dataTST.Mouse)

array([43176, 43509, 44215, 46030, 46031, 42312, 42313, 42489, 42629,
       42308, 47517, 45007, 45136, 45339, 46251, 47276, 47506, 46761,
       43180, 45196, 45137, 42625, 46432, 46438, 42314, 42315, 42353,
       42355, 42356, 46252, 47006, 47008, 47508,   122, 47235, 47511,
       47512, 47514], dtype=int64)

In [26]:
D1_mice=['42489', '42313', '42356', '42314', '42353', '45196', '46251','42629', '42308', '42315', '42355', '45339', '46439', '46761', '42312', '46438', '42625', '46252', '00122', '46984', '46754', '42627']

In [65]:
df_dataTST_D2=df_dataTST[~df_dataTST['Mouse'].isin(D1_mice)]
df_dataTST_D1=df_dataTST[df_dataTST['Mouse'].isin(D1_mice)]

In [66]:
len(df_dataTST_D2)

20

In [67]:
len(D1_mice)

22

In [68]:
df_dataTST_D1

    Mouse         w9    Group  labels  group    log_w9
5   42312   0.000000   SNLDYT     Low      0  0.000000
6   42313   1.518987   SNLDYT  Medium      2  0.923857
7   42489  12.806591   SNLDYT    High      1  2.625146
8   42629   0.916108   SNLDYT  Medium      2  0.650296
9   42308   0.719568   SNLDYT  Medium      2  0.542073
13  45339   0.434940  ShamDYT     Low      0  0.361123
14  46251   5.204363  ShamDYT    High      1  1.825253
18  46761   1.069360  ShamDYT  Medium      2  0.727239
20  45196   1.450638    SNLWT  Medium      2  0.896348
22  42625   0.349142    SNLWT     Low      0  0.299469
24  46438   0.000000    SNLWT     Low      0  0.000000
25  42314   5.194805    SNLWT    High      1  1.823711
26  42315   0.354261    SNLWT     Low      0  0.303256
27  42353   8.429119    SNLWT    High      1  2.243803
28  42355   0.359066    SNLWT     Low      0  0.306798
29  42356   3.617363    SNLWT  Medium      2  1.529824
30  46252   0.349142    SNLWT     Low      0  0.299469
34    122   0.000000   ShamWT     Low      0  0.000000

In [75]:
#D1 clusters
df_dataTST_D1[['Mouse', 'group']]
print(np.array(df_dataTST_D1[['Mouse', 'group']]).T)

[[42312 42313 42489 42629 42308 45339 46251 46761 45196 42625 46438 42314
  42315 42353 42355 42356 46252   122]
 [    0     2     1     2     2     0     1     2     2     0     0     1
      0     1     0     2     0     0]]

In [76]:
#D2 clusters
df_dataTST_D2[['Mouse', 'group']]
print(np.array(df_dataTST_D2[['Mouse', 'group']]).T)

[[43176 43509 44215 46030 46031 47517 45007 45136 47276 47506 43180 45137
  46432 47006 47008 47508 47235 47511 47512 47514]
 [    1     2     0     1     1     2     0     0     0     0     0     2
      2     1     2     2     0     0     0     0]]

In [44]:
df_dataTST_D1.Mouse.values

array([42312, 42313, 42489, 42629, 42308, 45339, 46251, 46761, 45196,
       42625, 46438, 42314, 42315, 42353, 42355, 42356, 46252,   122],
      dtype=int64)

In [36]:
df_dataTST_D1.group.values

array([1, 1, 2, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1])

In [37]:
list(df_dataTST_D1.w9.values)

[0.0,
 1.518987342,
 12.80659053,
 0.9161082359999999,
 0.7195682590000001,
 0.434940196,
 5.2043632539999996,
 1.0693598690000001,
 1.450638012,
 0.349141693,
 0.0,
 5.194805195,
 0.354260972,
 8.429118773999999,
 0.359066427,
 3.6173633439999997,
 0.349141693,
 0.0]

In [38]:
df_dataTST_D2.Mouse.values

array([43176, 43509, 44215, 46030, 46031, 47517, 45007, 45136, 47276,
       47506, 43180, 45137, 46432, 47006, 47008, 47508, 47235, 47511,
       47512, 47514], dtype=int64)

In [40]:
df_dataTST_D2.group.values

array([2, 1, 1, 2, 0, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1])

In [41]:
D1_mice

['42489',
 '42313',
 '42356',
 '42314',
 '42353',
 '45196',
 '46251',
 '42629',
 '42308',
 '42315',
 '42355',
 '45339',
 '46439',
 '46761',
 '42312',
 '46438',
 '42625',
 '46252',
 '00122',
 '46984',
 '46754',
 '42627']

In [86]:
temp=df_dataTST_D1.sort_values('Mouse')
temp

    Mouse         w9    Group  labels  group  lables
34    122   0.000000   ShamWT     Low      0       0
9   42308   0.719568   SNLDYT     Low      0       0
5   42312   0.000000   SNLDYT     Low      0       0
6   42313   1.518987   SNLDYT     Low      0       0
25  42314   5.194805    SNLWT  Medium      2       2
26  42315   0.354261    SNLWT     Low      0       0
27  42353   8.429119    SNLWT  Medium      2       2
28  42355   0.359066    SNLWT     Low      0       0
29  42356   3.617363    SNLWT  Medium      2       2
7   42489  12.806591   SNLDYT    High      1       1
22  42625   0.349142    SNLWT     Low      0       0
8   42629   0.916108   SNLDYT     Low      0       0
20  45196   1.450638    SNLWT     Low      0       0
13  45339   0.434940  ShamDYT     Low      0       0
14  46251   5.204363  ShamDYT  Medium      2       2
30  46252   0.349142    SNLWT     Low      0       0
24  46438   0.000000    SNLWT     Low      0       0
18  46761   1.069360  ShamDYT     Low      0       0

In [90]:
np.median(df_dataTST_D1[df_dataTST_D1.Group=='SNLDYT'].w9)

0.9161082359999999

In [91]:
np.median(df_dataTST_D1[df_dataTST_D1.Group=='SNLWT'].w9)

0.359066427

In [92]:
df_dataTST[df_dataTST.Group=='ShamWT']

    Mouse        w9   Group labels  group  lables
34    122  0.000000  ShamWT    Low      0       0
35  47235  0.000000  ShamWT    Low      0       0
36  47511  0.000000  ShamWT    Low      0       0
37  47512  0.653476  ShamWT    Low      0       0
38  47514  0.000000  ShamWT    Low      0       0

In [93]:
mean_TST_normal=np.mean(df_dataTST[df_dataTST.Group=='ShamWT'].w9)

In [94]:
std_normal=np.std(df_dataTST[df_dataTST.Group=='ShamWT'].w9)

In [95]:
cutoff=mean_TST_normal+1.98*std_normal

In [96]:
cutoff

0.6482483209600001